| Hi #{firstname} #{lastname},
|
| We may need to send you critical information about our service, so it is important that we have an accurate email address.
|
| Please confirm your email address by opening the link below in your web browser.
|
| #{ui_base_url}/pages/verify-email?token=#{token}
|
| After validating your email, you will be able to use FGPE Authorkit for free forever.
|
| Note: If you do not confirm your account in the next 24 hours, it will be automatically deleted.
|
|
| Kind Regards,
| The FGPE Team
|
| Follow @fgpe-project on Twitter.
