= `Welcome to FGPE AuthorKit, ${firstName} ${lastName}!`

Thank You for Signing Up!
Check the confirmation email at josepaiva94@gmail.com
Note: If you do not receive the email in few minutes:

check spam folder
verify if you typed your email correctly
if you can't resolve the issue, please contact support@mailtrap.io.