| Hi #{firstname} #{lastname},
| 
| You have completed your registration successfully. You may now access the FGPE AuthorKit.
| 
| The FGPE AuthorKit allows you to create gamified programming courses, by supporting the creation of programming exercises as well as a gamification layer on top of them.
| 
| If you have any doubt or suggestion, you can reach us through our support email support@fgpe.usz.edu.pl
| 
| 
| Kind Regards,
| The FGPE Team
|
| Follow @fgpe-project on Twitter.
