doctype transitional
html(xmlns="http://www.w3.org/1999/xhtml")
    head
        meta(name="viewport" content="width=device-width")
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        title You have a new password in FGPE AuthorKit!
        link(href="styles/style.css" media="all" rel="stylesheet" type="text/css" data-inline="data-inline")
    body.text-primary(itemscope="" itemtype="http://schema.org/EmailMessage")
        table.body-wrap
            tr
                td
                td.container(width="600")
                    .header
                        table(width="100%")
                            tr
                                td.content-block
                                    img(src="cid:logo" alt="FGPE Logo" class="logo")
                    .content
                        table.main(width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope="" itemtype="http://schema.org/Welcome")
                            tr
                                td.content-wrap
                                    meta(itemprop="name" content="Welcome")
                                    table(width="100%" cellpadding="0" cellspacing="0")
                                        tr
                                            td.content-block
                                                p
                                                    | Hi #{firstname} #{lastname},
                                        tr
                                            td.content-block
                                                p
                                                    | Your password for signing in to FGPE AuthorKit was recently changed. If you made this change, then we're all set.
                                        tr
                                            td.content-block
                                                p
                                                    | If you did not make this change, please reset your password to secure your account.
                                        tr
                                            td.content-block
                                                p
                                                    | If you have any doubt or suggestion, you can reach us through our 
                                                    a.text-primary(href="mailto:support@fgpe.usz.edu.pl") support email
                                                    | .
                                        tr
                                            td.content-block.greetings
                                                p
                                                    | Kind Regards,
                                                    br
                                                    | The FGPE Team
                    .footer
                        table(width="100%")
                            tr
                                td.content-block.aligncenter.text-secondary
                                    | Follow 
                                    a.text-secondary(href="http://twitter.com/fgpe-project") @fgpe-project 
                                    | on Twitter.
