| Hi #{firstname} #{lastname},
|
| You received this email because we got a request to reset the password for your account. If you did not request a new password you can safely delete this email.
|
| If you have made that request, please confirm and choose a new password by opening the link below in a new window.
|
| http://fgpe.usz.edu.pl/authorkit/reset-password?key=#{token}
| 
| Note: This link is only valid for the next <strong>24 hours</strong>.
|
|
| Kind Regards,
| The FGPE Team
